In [1]:
import pandas as pd

df = pd.read_csv('./intraday_data_preprocessed.csv')

In [2]:
df.head()

,Datetime,Close_HDFCBANK.NS,Close_SBIN.NS,Close_TCS.NS,High_HDFCBANK.NS,High_SBIN.NS,High_TCS.NS,Low_HDFCBANK.NS,Low_SBIN.NS,Low_TCS.NS,...,Date_Unnamed: 16_level_1,Adj Close_HDFCBANK.NS,Adj Close_SBIN.NS,Adj Close_TCS.NS,VWAP_TCS.NS,Forward_Return_TCS.NS,VWAP_HDFCBANK.NS,Forward_Return_HDFCBANK.NS,VWAP_SBIN.NS,Forward_Return_SBIN.NS
0,2025-04-01 03:45:00+00:00,0.680494,0.753802,0.988329,0.685012,0.746884,1.000000,0.670967,0.623092,0.979730,...,NaN,NaN,NaN,NaN,0.000000,0.800798,0.000000,0.739209,0.000000,0.823513
1,2025-04-01 03:46:00+00:00,0.678518,0.744297,0.992154,0.668795,0.744967,0.987786,0.667991,0.732825,0.984580,...,NaN,NaN,NaN,NaN,1.000000,0.798183,1.000000,0.734994,0.991533,0.712099
2,2025-04-01 03:47:00+00:00,0.661234,0.784220,0.974303,0.668305,0.791946,0.986862,0.661539,0.762404,0.983222,...,NaN,NaN,NaN,NaN,0.999669,0.755068,0.999778,0.715126,0.992846,0.742929
3,2025-04-01 03:48:00+00:00,0.655308,0.776616,0.955669,0.663391,0.778524,0.968182,0.657568,0.791030,0.959752,...,NaN,NaN,NaN,NaN,0.998460,0.745325,0.999669,0.724143,0.993204,0.702149
4,2025-04-01 03:49:00+00:00,0.644444,0.770913,0.938211,0.639311,0.775647,0.954428,0.640695,0.785305,0.947629,...,NaN,NaN,NaN,NaN,0.997128,0.763528,0.999291,0.728359,0.993389,0.690242